<div class="w-screen h-screen flex items-center justify-center">
  <div class="w-[min(450px,100%)] p-4">
    <h1 class="text-4xl text-white font-bold text-center">Create an Account.</h1>

    <div class="flex items-center text-white text-base font-bold border-[.1em] border-purple-600 overflow-hidden mt-8 rounded-md">
      <span class="block grow text-center p-2 cursor-pointer" [class]="{'bg-purple-600': role() === 'User'}" (click)="toggleRole('User')">User</span>
      <span class="block grow text-center p-2 cursor-pointer" [class]="{'bg-purple-600': role() === 'Validator'}" (click)="toggleRole('Validator')">Validator</span>
    </div>

    <form class="flex flex-col gap-4 mt-8" [formGroup]="form" (ngSubmit)="submit()">
      <div class="flex flex-col gap-0.5 text-white font-medium">
        <label class="text-[.8rem]" for="email">Email</label>
        <input class="w-full text-base border-[.1em] border-neutral-600 rounded-md p-2 focus:border-purple-600 placeholder:text-neutral-600" type="email" id="email" placeholder="jhon@dev.in" formControlName="email">
        @if(formError() && (control['email'].errors && control['email'].errors['required'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Email address required</span>
        }
        @if(formError() && (control['email'].errors && control['email'].errors['email'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Enter valid email</span>
        }
      </div>

      <div class="flex flex-col gap-0.5 text-white font-medium">
        <label class="text-[.8rem]" for="pass">Password</label>
        <input class="w-full text-base border-[.1em] border-neutral-600 rounded-md p-2 focus:border-purple-600 placeholder:text-neutral-600" type="password" id="pass" placeholder="your-secret" formControlName="password">
        @if(formError() && (control['password'].errors && control['password'].errors['required'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Password required</span>
        }
        @if(formError() && (control['password'].errors && control['password'].errors['minlength'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Password must be of length 8</span>
        }
      </div>

      <button class="bg-purple-600 text-base text-white font-bold p-2 rounded-md border-[.1em] border-purple-600 mt-2 cursor-pointer hover:bg-purple-700 hover:border-purple-700">Create Account.</button>
    </form>

    <span class="block text-base text-white font-medium text-center p-4">Already have an account? <a class="text-purple-600 underline cursor-pointer" routerLink="/login" replaceUrl="true">Login</a></span>
  </div>
</div>
