<div class="fixed w-screen flex items-center justify-center h-screen top-0 left-0 z-20 bg-neutral-900/20">
  <div class="relative w-[min(100%,400px)] bg-primary-100 p-4 rounded-md">
    @if(!loading()) {
      <div class="absolute top-4 right-6 cursor-pointer" (click)="toggleCancel()">
        <fa-icon class="text-base text-secondary-300" [icon]="'xmark'"/>
      </div>
  
      <div class="flex flex-col items-center justify-center gap-1">
        <div class="w-[4rem] h-[4rem] flex items-center justify-center bg-purple-100 rounded-xl">
          <fa-icon class="text-white text-3xl" [icon]="'shield'"/>
        </div>
  
        <div class="flex items-center gap-2">
          @if(wallet().pubKey !== '') {
            <span class="block text-base text-secondary-400 text-center">{{ wallet().pubKey.substring(0,7) + '...' + wallet().pubKey.substring(wallet().pubKey.length - 4) }}</span>
            <fa-icon class="text-secondary-200 cursor-pointer" [icon]="'clone'" (click)="copyAddress()"/>
          }
        </div>
        <span class="text-[.9rem] text-secondary-400">{{ wallet().balance + ' HBAR'}}</span>
      </div>
  
      <span class="block text-base text-center text-secondary-400 my-4">{{ wallet().uname }}</span>  

      <div class="border-b-[.1em] border-primary-500 my-8"></div>

      <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="transfer()">
        <div class="flex flex-col gap-0.5">
          <label class="text-[.8rem] text-secondary-300 font-medium" for="to">Send To</label>
          <input class="w-full text-base text-secondary-400 font-medium border-[.1em] border-primary-400 rounded-md px-2 py-1 focus:border-primary-600" id="to" type="text" placeholder="0x0000...0000" name="pubKey" formControlName="pubKey">
        </div>

        <div class="flex flex-col gap-0.5">
          <label class="text-[.8rem] text-secondary-300 font-medium" for="amount">Amount</label>
          <input class="w-full text-base text-secondary-300 font-medium border-[.1em] border-primary-400 rounded-md px-2 py-1 focus:border-primary-600" id="amount" type="text" placeholder="0.0" name="amount" formControlName="amount">
        </div>

        <button class="bg-purple-100 text-base text-white font-medium px-2 py-1 rounded-md border-[.1em] border-purple-100 cursor-pointer hover:bg-purple-200 hover:border-purple-200" type="submit">Send</button>
      </form>
    } @else {
      <span class="block text-base text-center text-secondary-300 my-4">Fetching Info...</span>
    }
  </div>
</div>
