<div class="w-screen h-screen flex items-center justify-center">
  <div class="w-[min(450px,100%)] p-4">
    <h1 class="text-4xl text-white font-bold text-center">Sign In.</h1>

    <form class="flex flex-col gap-4 mt-8" [formGroup]="form" (ngSubmit)="submit()">
      <div class="flex flex-col gap-0.5">
        <label class="text-[.8rem] text-white font-medium" for="email">Email</label>
        <input class="w-full text-base text-white font-medium border-[.1em] border-neutral-600 rounded-sm p-2 focus:border-purple-600 placeholder:text-neutral-600" type="email" id="email" placeholder="jhon@dev.in" formControlName="email">

        @if(formError() && (control['email'].errors && control['email'].errors['required'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Email address required</span>
        }
        @if(formError() && (control['email'].errors && control['email'].errors['email'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Enter valid email</span>
        }
      </div>

      <div class="flex flex-col gap-0.5">
        <label class="text-[.8rem] text-white font-medium" for="pass">Password</label>
        <input class="w-full text-base text-white font-medium border-[.1em] border-neutral-600 rounded-sm p-2 focus:border-purple-600 placeholder:text-neutral-600" type="password" id="pass" placeholder="your-secret" formControlName="password">
        @if(formError() && (control['password'].errors && control['password'].errors['required'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Password required</span>
        }
        @if(formError() && (control['password'].errors && control['password'].errors['minlength'])) {
          <span class="text-red-700 text-[.8rem] font-medium">*Password must be of length 8</span>
        }
      </div>

      <button class="bg-purple-600 text-base text-white font-bold p-2 rounded-sm border-[.1em] border-purple-600 mt-2 cursor-pointer hover:bg-purple-700 hover:border-purple-700">Sign In.</button>
    </form>

    <span class="block text-base text-white font-medium text-center p-4">Don't have account? <a class="text-purple-600 underline cursor-pointer" routerLink="/sign-up" replaceUrl="true">Create an account</a></span>
  </div>
</div>
