@if(wallet()) {
  <app-wallet (cancel)="toggleWallet()"/>
}

<div class="w-screen h-screen flex p-4">
  <div class="flex flex-col  w-[min(100%,900px)] mx-auto">
    <section class="flex items-center justify-end gap-4 mb-8">
      <button class="flex items-center justify-center gap-2 bg-purple-600 text-base text-white font-medium rounded-md p-2 cursor-pointer" (click)="toggleWallet()">
        <fa-icon [icon]="'wallet'"/>
        <span>Wallet</span>
      </button>
    </section>

    <section class="w-full h-full flex flex-col justify-center gap-4 items-center">
      <span class="w-[min(100%,600px)] text-center text-2xl text-white/50 font-medium">{{ 'Hi ' + username() + ', Your available payouts are' }}</span>

      <span class="flex items-end gap-1 my-20">
        <h1 class="text-8xl text-white font-medium text-center">{{ payouts() }}</h1>
        <span class="text-base text-white/50 font-medium">HBAR</span>
      </span>

      <div class="flex items-center justify-center gap-4">
        <button class="bg-purple-600 text-base text-white font-medium p-2 rounded-sm border-[.1em] border-purple-600 mt-2 cursor-pointer hover:bg-purple-700 hover:border-purple-700 mx-auto" type="button" (click)="connect()">Start Earning</button>
        <button class="bg-purple-600 text-base text-white font-medium p-2 rounded-sm border-[.1em] border-purple-600 mt-2 cursor-pointer hover:bg-purple-700 hover:border-purple-700 mx-auto" type="button" (click)="claimPayouts()">Claim Payouts</button>
      </div>
    </section>
  </div>
</div>