@if(addUrl()) {
  <app-url-form (cancel)="toggleAddUrl()"/>
}

<div class="w-screen h-screen flex p-4">
  <div class="w-[min(100%,900px)] flex flex-col gap-8 mx-auto">

    <div class="flex items-center justify-between gap-4 flex-wrap">
      <h1 class="text-2xl text-white font-bold">Uptime Monitor</h1>
      <button class="bg-purple-600 text-base text-white font-medium p-2 rounded-md border-[.1em] border-purple-600 mt-2 cursor-pointer hover:bg-purple-700 hover:border-purple-700" type="button" (click)="toggleAddUrl()">Add Website</button>
    </div>

    <ul class="list-none flex flex-col gap-4">
      @for(website of websites(); track website.id) {
        <li class="bg-neutral-800 rounded-md text-base text-white font-medium p-4">
          <div class="flex items-center justify-between">
            <span>{{ website.url }}</span>
            <fa-icon class="cursor-pointer" [icon]="'caret-down'" [class]="{'rotate-180':ticks()[website.id].open}" (click)="getTicks(website.id)"/>
          </div>

          @if (ticks()[website.id] && ticks()[website.id].open) {
            <div class="flex items-center justify-between gap-2 flex-wrap">
              <div class="flex items-center justify-start gap-4 py-2">
                @for(tick of ticks()[website.id].ticks; track $index) {
                  <div class="flex w-[6px] h-[2.2rem] rounded-md" [class]="tick.status == 'UP'? 'bg-green-500' : 'bg-red-500'"></div>
                }
              </div>

              <span class="text-white/50">{{ ticks()[website.id].ticks[ticks()[website.id].ticks.length - 1].status  }}</span>
            </div>
          }
        </li>
      }
    </ul>
  </div>
</div>